[submodule "submodules/ChaosPresets.References"]
	path = submodules/ChaosPresets.References
	url = ../../ChaosFramework/ChaosPresets.References.git
[submodule "submodules/ChaosPresets.Targets"]
	path = submodules/ChaosPresets.Targets
	url = ../../ChaosFramework/ChaosPresets.Targets.git
