[submodule "submodules/ChaosPresets.References"]
	path = submodules/ChaosPresets.References
	url = ../../ChaosFramework/ChaosPresets.References.git
[submodule "submodules/ChaosPresets.Targets"]
	path = submodules/ChaosPresets.Targets
	url = ../../ChaosFramework/ChaosPresets.Targets.git
[submodule "submodules/ChaosAnalyzers"]
	path = submodules/ChaosAnalyzers
	url = ../../ChaosFramework/ChaosAnalyzers.git
[submodule "submodules/ChaosAnalyzers.ClassIntegrity"]
	path = submodules/ChaosAnalyzers.ClassIntegrity
	url = ../../ChaosFramework/ChaosAnalyzers.ClassIntegrity.git
[submodule "submodules/ChaosAnalyzers.ClassIntegrity.Types"]
	path = submodules/ChaosAnalyzers.ClassIntegrity.Types
	url = ../../ChaosFramework/ChaosAnalyzers.ClassIntegrity.Types.git
[submodule "submodules/ChaosAnalyzers.CleanCode"]
	path = submodules/ChaosAnalyzers.CleanCode
	url = ../../ChaosFramework/ChaosAnalyzers.CleanCode.git
[submodule "submodules/ChaosBuild.CodeFormatter"]
	path = submodules/ChaosBuild.CodeFormatter
	url = ../../ChaosFramework/ChaosBuild.CodeFormatter.git
[submodule "submodules/ChaosBuild.CodeFormatter.Tasks"]
	path = submodules/ChaosBuild.CodeFormatter.Tasks
	url = ../../ChaosFramework/ChaosBuild.CodeFormatter.Tasks.git
[submodule "submodules/ChaosBuild.Solution"]
	path = submodules/ChaosBuild.Solution
	url = ../../ChaosFramework/ChaosBuild.Solution.git
[submodule "submodules/ChaosBuild.Util"]
	path = submodules/ChaosBuild.Util
	url = ../../ChaosFramework/ChaosBuild.Util.git
